<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daboot">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/daboot_logo_pigeon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/daboot_logo_pigeon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaBoot"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity android:name=".Login.Login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Message.ChatActivity"/>
        <activity android:name=".Message.ChatList"/>
        <activity android:name=".MatchingInfo"/>
        <activity android:name=".Login.Join"/>
        <activity android:name=".Login.JoinInfo"/>
        <activity android:name=".Intro"/>
        <activity android:name=".Board.Write"/>
        <activity android:name=".Board.Contents"/>
        <activity android:name=".Board.Welfare"/>
        <activity android:name=".Board.WelfareContents"/>
        <activity android:name=".MatchingList" />
        <activity android:name=".WelfareInfoDone" />
        <activity android:name=".MainActivity" android:label="@string/app_name"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.daboot"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_file_path" />
        </provider>
    </application>

</manifest>